<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Vue | 学习笔记</title>

        <link rel="author" href="humans.txt">
        <script src="https://cdn.staticfile.org/vue/2.4.2/vue.js"></script>
        <style>
        .class-v-bind{
          background: #444;
          color: #eee;
        }
        * {
            margin: 0;
            padding: 0;
        }
        li {
            list-style: none;
        }
        </style>
    </head>
    <body>
    <h4>生命周期 钩子函数</h4>
    <ul>
      <li>beforeCreate(实例 部分初始化)  created(实例 初始化完成)</li>
      <li>beforeMount(数据 渲染到页面之前)  mounted(数据 渲染到页面之后)</li>
      <li>beforeUpdate(数据 更改之前)  updated(数据 更改之后)</li>
      <li>activated deactivated</li>
      <li>beforeDestroy(实例 销毁之前 *调用vm.$destroy()销毁*)  destroyed(实例 销毁之后)</li>
      <li>errorCaptured(捕获来自子孙组件的错误)</li>
    </ul><br>

    <div id="vue_detail">
      <h4>表达式</h4>
  		<p v-text="detail + '---v-text指令中是个表达式(数据属性content、计算属性detail、methods方法details())'"
  		></p>
  		<p>{{detail}}---计算属性detail 插入表达式</p>
  		<p>{{details()}}---methods方法details() 插入表达式</p>
  		<h5>提高浏览器性能！（计算属性 > watch变量 > methods）</h5><br>
          <p>1、el 参数，它是 挂载相应vue实例的 DOM元素的 id;<br>
         2、data 用于定义 数据属性，当前实例中 data对象中 能找到的 所有的属性：title;<br>
          3、methods 用于定义的函数，可以通过 return 来返回值;<br>
         4、{{}} 用于输出 对象属性值 和 函数返回值。</p><br>
    
      <h4>Vue中数组操作方法</h4>
      <p>1、直接 初始化 整个对象的引用</p>
      <p>2、使用数组的 变异方法(push、pop、unshift、shift、splice、reverse)</p>
      <p>3、Vue.set(vm.arra, 1, 'arra数组中下标为1元素已更改')</p>
        <p>vm.$set(vm.arra, 1, 'arra数组中下标为1元素已更改')</p>
      <p>arra数组为 : {{arra}}</p>
    </div><br>
    <script type="text/javascript">
    var json = {
      title: 'hello',
      content: 'world',
      detail2: 'hello world',
      arra: ['a', 'b']
    };
        var vm = new Vue({
            el: '#vue_detail',
            data: json,
      			computed: { //计算属性(有缓存机制，提高浏览器性能。构成属性不改变，便不会重新计算)
                      detail: {
      					get: function() {
      						return  this.title + ' ' + this.content;
      					},
      					set: function (value) { // 需要初始化时执行，形如 detail = 'hello kity'
      						var arr = value.split(' '); // 将字符串以' '为界打散为数组，形如[title, content]
      						this.title = arr[0];
      						this.content = arr[0];
      					}
      				}
                  },
      			watch: { // 监听detail2是否变化(有缓存机制，提高浏览器性能。构成属性不改变，便不会重新计算)
      				title: function () {
      					this.detail2 = this.title + ' ' + this.content
      				},
      				content: function () {
      					this.detail2 = this.title + ' ' + this.content
      				}
      			},
      			methods: { //定义函数
                details: function() {
                    return  this.title + ' ' + this.content;
                }
            }
        });

        if(vm.title === json.title){ //数据属性
            document.write("<h5>vm.title 与 json.title 引用相同的对象！</h5>");
        }

        if(vm.$data === json && vm.$el === document.getElementById('vue_detail')){ //实例属性与方法,它们都有前缀 $
            document.write("vm.$data 与json引用相同的对象！<br>");
            document.write('vm.$el 与 id="vue_detail" 的元素 引用相同的对象！<br>');
        }
        document.write("<h5>可见，vm.title === json.title === vm.$data.title</h5><br><br>");
    </script>


	<h4>(另区分 指令v-text)</h4>
    <h4>v-html</h4>
    <p>指令 是带有 v- 前缀的特殊属性;<br>
    指令 用于在表达式的值改变时，将某些行为应用到 DOM 上。</p>
    <div id="v-html" v-html="message"></div><br><br>

    <h4>v-bind</h4>
    <div id="v-bind">
    <!-- v-model指令用在input元素上，创建双向数据绑定。根据复选框是否被选中，自动更新use的值，并重新渲染html节点。 -->
        <input type="checkbox" v-model="use"> <!-- use为true，复选框被选中，下面的class-v-bind生效 -->
        <span>class : {{use}}</span>
        <!-- v-bind 指令被用来响应地更新 HTML属性【class，href，src等】 -->
        <div v-bind:class="{'class-v-bind':use}">v-bind:class 指令(值为对象、或对象数组均可)</div>
        <!-- v-bind:class 可简化为 :class -->
    </div><br><br>

    <h4>v-if</h4>
    <ul id="v-if">
        <li v-if="type === 'A'">A</li>
        <li v-else-if="type === 'B'">B</li>
        <li v-else-if="type === 'C'">C</li>
        <li v-else>Not A/B/C</li>
    </ul><br><br>

    <h4>v-show</h4>
    <div id="v-show">
        <h1 v-show="no">Hello!</h1>
    </div><br><br>

    <h4>v-for</h4>
	<h5>v-for迭代 对象(index下标、key键名、value键值)</h5>
    <ul id="v-for">
        <li v-for="(value, key, index) in object">{{ index }}. {{ key }} : {{ value }}</li>
    </ul><br>

    <h5>v-for迭代 整数</h5>
    <ul id="v-for-num">
    <li v-for="n in 5">{{ n }}</li>
    </ul><br><br>

    <h4>v-on</h4>
    <button id="v-on" v-on:click="reverseMessage">点击我激活 v-on指令</button><br><br>
    <!-- v-on:click 可简化为 @click -->

    <h4>过滤器（原值：abc）</h4>
    <div id="filters">{{ message | reverseMessage | capitalize  }}</div><br><br>

    <div id = "watch">
        <p style = "font-size:25px;">计数器: {{ counter }}</p>
        <button @click = "counter++" style = "font-size:25px;">点我计数器加1</button>
    </div><br><br>

    <script>
        new Vue({
          el: '#v-html',
          data: {
            message: '<a href="#v-html">该a链接是使用 指令v-html 嵌入的</a>'
          }
        });
    </script>

    <script>
        new Vue({
          el: '#v-bind',
          data: {
            use:true
          }
        });
    </script>

    <script>
        new Vue({
          el: '#v-if',
          data: {
            type: 'C'
          }
        });
    </script>

    <script>
        new Vue({ //v-show会渲染该节点，但会以css形式显示或隐藏，而非像v-if移除或新增节点。
          el: '#v-show',
          data: {
            no: false
          }
        });
    </script>

    <script>
    new Vue({
      el: '#v-for',
      data: {
        object: {
          name: '菜鸟教程',
          url: 'http://www.runoob.com',
          slogan: '学的不仅是技术，更是梦想！'
        }
      }
    })

    new Vue({ //迭代整数
        el: '#v-for-num'
    });
    </script>

    <script>
        new Vue({
          el: '#v-on',
          methods: {
            reverseMessage: function () {
              this.$el.innerHTML = this.$el.innerHTML.split('').reverse().join('');
            }
          }
        });
    </script>

    <script>
    new Vue({
      el: '#filters',
      data: {
        message: 'abc'
      },
      filters: {
        capitalize: function (value) {
          if (!value) return ''
          value = value.toString()
          return value.charAt(0).toUpperCase() + value.slice(1)
        },
        reverseMessage: function (value) {
            value = value.toString();
            return value.split('').reverse().join(''); // split打散为数组，reverse反转，join再把数组元素拼接为字符串
        }
      }
    })
    </script>

    <script type = "text/javascript">
     var vv = new Vue({
        el: '#watch',
        data: {
           counter: 1,
           test: ['hah', 2]
        },
        watch: {
          counter: function(New, Old) {
            alert('计数器值的变化 :' + Old + ' 变为 ' + New + '!');
          }
        }
     });
     // vv.$watch('counter', function(New, Old) { //实例属性 监听属性$watch
     //    alert('计数器值的变化 :' + Old + ' 变为 ' + New + '!');
     // });
    </script>
    </body>
</html>
